{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style></style>
</head>

<body>
    

        <div class="flex  bg-black bg-opacity-50 border-b-4">
            <div id="logo" class="m-4">
                <h5 class="text-white animate-pulse text-2xl font-medium ">ShopPay</h5>
            </div>
            <ul class="flex my-2">
                <li class="mx-3  my-auto transition-all hover:scale-105 text-white hover:text-emerald-400 text-xl font-semibold">
                    <a href="/">Home</a>
                </li>
                <li class="mx-3  my-auto transition-all hover:scale-105 text-white hover:text-emerald-400 text-xl font-semibold">
                    <a href="/signup">Sign Up</a>
                </li>
                <li class="mx-3  my-auto transition-all hover:scale-105 text-white hover:text-emerald-400 text-xl font-semibold">
                    <a href="/login">Login</a>
                </li>
                <li class="mx-3  my-auto transition-all hover:scale-105 text-white hover:text-emerald-400 text-xl font-semibold">
                    <a href="/shop">Shop</a>
                </li>
                <li class="mx-3  my-auto transition-all hover:scale-105 text-white hover:text-emerald-400 text-xl font-semibold">
                    <a href="/about">About Us</a>
                </li>
                <li class="mx-3  my-auto transition-all hover:scale-105 text-white hover:text-emerald-400 text-xl font-semibold">
                    <a href="/contact">Contact Us</a>
                </li>
            </ul>
        </div>
    
</body>

</html>