{%extends '../Base.html'%} 
{%load static%}
{% block body %}
{%block style%}
    <style>
        #home{
            background:url("{% static 'images/home1.jpg' %}") no-repeat center ;
            background-size: cover;
        }
    </style>
{%endblock%}
<div id="home" class="h-[900px]  bg-center bg-cover bg-no-repeat my-30">
    <div class="md:grid  pt-20">
        
        <div class="">
            <div class="py-20 text-white text-center  h-[600px]">
                <div class="h-fit border-x-4   w-fit mx-auto p-3 mt-36">
                    <div class=" h-fit border-y-4   w-fit mx-auto p-3 ">
                        <div class="w-fit p-8 bg-black bg-opacity-70  skew-x-6  mx-auto border-2">
                            <div class="border-2 bg-black bg-opacity-70 -skew-x-12  max-w-[500px] mx-auto">
                                <h1 id="heading" class="text-5xl m-5">Welcome To ShopPay</h1>
                                <h2 class="text-3xl m-5 p-2">We Invite You To Purchase Freely</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>


    </div>
    
</div>
{% include './BelowHomePage.html' %}
{%endblock%}

